.footer-page{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--blue);
}

.pie-pagina{
    width: 85%;
    text-align: start;
    font: var(--body1);
    color: var(--white);
}

.redes {
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline-end: 20px;
    font: var(--body1);
    color: var(--white);
}

.redes i {
    margin-inline-start: 1px;
    margin-inline-end: 1px;
}