.form-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    gap: 16px;
    max-inline-size: 540px;
    margin: auto;
}

.form-content-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 16px;
    max-inline-size: 540px;
    margin: auto;
}

.form-content-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    max-inline-size: 540px;
    margin-block-start: 20px;
}

.form{
    padding-block-start: 80px;
    margin-block-end: 80px;
}

.form p{
    color: var(--white);
    margin: 0;
}

.form h2{
    text-transform: uppercase;
}

.form .title{
    margin: 0;
}


.form-content input, select, textarea{
    border: 2px solid #858c94;
    margin-block-start: 8px;
    border-radius: 10px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    padding-block-start: 10px;
    padding-block-end: 10px;
    font: var(--body1);
}

.form-content-3 input{
    border: 2px solid #858c94;
    margin-block-start: 8px;
    border-radius: 10px;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    padding-block-start: 10px;
    padding-block-end: 10px;
    font: var(--body1);
}

.formulario{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    margin-block-start: 50px;
    margin-block-end: 50px;
}


.list{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-poliza h4{
    margin-inline-start: 50px;
}

@media screen and (min-width: 768px) {
    .form .title{
        align-self: stretch;
        text-align: center;
    }
}


