.box-poliza{
    width: 100%;
    height: 900px;
}

.banner-poliza img{
    width: 100%;
    height: 200px;
}

.btn-poliza{
    display: flex;
    justify-content: flex-end;
    margin-block-start: 50px;
}