.banner {
    width: 100%;
    height: 350px;
    background: url("../assets/img/manosseguro.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    font: var(--headline5);
}

.banner h4{
    font: var(--headline3);
    margin: 0;
    padding-inline-end: 260px;
}

.banner h5{
    margin: 0;
    padding-inline-end: 20px;
}

.seccion-1{
    width: 100%;
    height: 250px;
}

.seccion-3{
    width: 100%;
    height: 80px;
}

.seccion-3 h1{
    display: flex;
    justify-content: flex-start;
    margin-inline-start: 50px;
}

.seccion-1 h5 {
    display: flex;
    justify-content: flex-start;
    padding-inline-start: 50px;
    font: var(--headline5);
}

.productos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-inline-start: 350px;
    padding-inline-end: 350px;
}

.productos p {
    display: flex;
    justify-content: center;
    align-items: center;
    font: var(--body2);
}

.seccion-circle {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.circle{
    width: 100px;
    height: 100px;
    background: var(--blue);
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    font-size: 3rem;
    color: var(--white);
}

.seccion-2{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    width: 100%;
    height: 60px;
    background: var(--blue);
}
